* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

a {
    text-decoration: none;
}

.run_status {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.loader.hidden {
    display: none;
}

.loader_status.hidden{
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #5CB338;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header a {
    color: #fff;
}

.header_right {
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container {
}

.container h2 {
    
}

.container .exe_block {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

input, select {
    padding: 10px;
    border-radius: 6px;
}

#exe {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 30px 20px;
    background: #ECE852;
    /* background: #4DA1A9; */
    border-radius: 5px;
    font-size: 18px;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* text-align: center; */
}

#javaCode {
    padding: 15px 20px;
    border-radius: 5px;
    min-height: 300px;
}

#javaInput, #output {
    min-width: 400px;
}

#output {
    padding: 15px;
    max-height: 80px;
}

#fileUpload {
    padding: 10px 10px;
    color: #fff;
    background: #009990;
}

#testCases {
    max-width: 200px;
}

.header_right a:hover {
    color: #D91656;
}

.header .icon {
    font-size: 19px;
}

.header .icon.fa-youtube {
    color: #ff0033;
}

.header .icon.fa-facebook {
    color:#0766ff;
}

.header .icon.fa-github {
    color: #000;
}


.res_status_success.hidden {
    display: none;
}

.res_status_error.hidden {
    display: none;
}

/* .container #output {
    background: #009990;
    max-width: 500px;
    color: #fff;
    padding: 20px;
} */

  
.footer {
    width: 100%;
    height: 100px;
    background: #000;
    color: #fff;
}

.compiler {
    margin-bottom: 25px;
}

.footer .cp-text {
    line-height: 100px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
  }

#exe #exerciseDescription {
    padding: 15px;
    background: #333;
    border-radius: 5px;
    color: #fff;
}

/* #exeInput {
    color: #ff0033;
} */

/* #exeOutput {
    color: #4F75FF;
} */


#exe #exeInput {
    padding: 15px;
    background: #ff0033;
    border-radius: 5px;
    color: #fff;
}

#exe #exeOutput {
    padding: 15px;
    background: #4F75FF;
    border-radius: 5px;
    color: #fff;
}